server:
  port: 8081

spring:
  application:
    name: google-oauth2-demo

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:your-client-id}
            client-secret: ${GOOGLE_CLIENT_SECRET:your-client-secret}
            scope:
              - openid
              - profile
              - email
            redirect-uri: https://api.u2511175.nyat.app:55139/oauth2/callback
          github:
            client-id: ${GITHUB_CLIENT_ID:your-github-client-id}
            client-secret: ${GITHUB_CLIENT_SECRET:your-github-client-secret}
            scope:
              - user:email
              - read:user
            redirect-uri: https://api.u2511175.nyat.app:55139/oauth2/callback
          twitter:
            client-id: ${TWITTER_CLIENT_ID:your-twitter-client-id}
            client-secret: ${TWITTER_CLIENT_SECRET:your-twitter-client-secret}
            authorization-grant-type: authorization_code
            scope:
              - tweet.read
              - users.read
            redirect-uri: https://api.u2511175.nyat.app:55139/oauth2/callback
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth?prompt=select_account
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            user-name-attribute: sub
            jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs
          github:
            authorization-uri: https://github.com/login/oauth/authorize?prompt=consent
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
          twitter:
            authorization-uri: https://x.com/i/oauth2/authorize
            token-uri: https://api.x.com/2/oauth2/token
            user-info-uri: https://api.x.com/2/users/me
            user-name-attribute: username

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

logging:
  level:
    com.example.oauth2demo: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security.oauth2: DEBUG
